/*imports*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
}

h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: white;
  text-decoration: none;
}

.heroFärg {
  background-color: rgb(170, 148, 137) !important;
}

.teal-500 {
  background-color: rgb(32, 201, 151);
}

/* Color pallete for DF: 
rgb(224,152,172) Pink
rgb(55,55,53) Black
rgb(111,140,216) Blue
rgb(255,255,255) White
rgb(32,201,151) .teal-500
rgb(170,148,137) heroFärg


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.Logo {
  font-size: 4rem;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  color: rgb(55, 55, 53);
  text-decoration: none;
}

.Logo:hover {
  text-decoration: none;
  color: rgba(55, 55, 53, 0.87);
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/

nav {
  display: flex;
  margin: auto;
  padding: 2rem;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

/*--------------------------------------------------------------
  # Hero
  --------------------------------------------------------------*/

#hero {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.37), transparent),
    url("../Bilder/towfiqu-barbhuiya-joqWSI9u_XM-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

#heroTextBox {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 11vw;
}

#hero h1 {

  /* height: 17vh; */
  font-family: 'Poppins';
  font-weight: 200;
  font-size: 5rem;
  line-height: 45px;
  color: rgb(55, 55, 53);
}

@media screen and (min-width: 700px) {
  #hero h1 {
    width: 60vh;
  }

}

#hero h1:hover {
  -webkit-text-stroke: 2px rgb(55, 55, 53);
  color: transparent;
  transition: 0.5s;
}

#hero h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 30px;
  color: rgb(83, 83, 83);
}

#hero h5 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  margin-left: 1vw;
}

.heroCheck {
  color: black;
  display: inline-block;
  font-size: 1.5rem;
  vertical-align: middle;
}

.myButton {
  background-color: rgb(119, 50, 50);
  border-radius: 24px;
  border: 1px solid rgb(87, 35, 35);
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  padding: 6px 30px;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgb(136, 60, 60);
  margin: 1vh 1vw;
  margin-bottom: 15px;
}

.myButton:hover {
  background: rgb(148, 80, 80);
  color: #ffffff;
}

.myButton:active {
  position: relative;
  top: 1px;
}

/*--------------------------------------------------------------
  # Om oss
  --------------------------------------------------------------*/

section#lag .lag-item img {
  min-height: 100%;
  width: 100%;
}

section#lag button {
  padding: 0;
  overflow: hidden;
}

section#lag .lag-item {
  position: relative;
}

section#lag .lag-item:hover .overlay {
  opacity: 1;
}

section#lag .lag-item:hover i {
  opacity: 1;
  transform: none;
}

section#lag .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(170, 148, 137, 1);
  opacity: .5;
  color: #fff;
  transition: all .5s;
}

section#lag .lag-item i {
  transform: translateY(20px);
  transition: all .5s;
  opacity: 0;
  font-size: 2rem;

}


/*--------------------------------------------------------------
  # Tjänster
  --------------------------------------------------------------*/

.tjänster {
  overflow: hidden;
}

.counter-container {
  font-size: 2rem;
  box-shadow: 4px -1.5px 8px 2.5px #8e8e8e;
}

.counter-container .counter {
  line-height: 2;
}

.fa-user,
.fa-money-bill,
.fa-percent,
.fa-book,
.fa-file-contract,
.fa-file-excel,
.fa-calendar,
.fa-building {
  font-size: 5rem !important;
}


/*--------------------------------------------------------------
# FAQ
--------------------------------------------------------------*/
.accordion-item {
  font-size: 1.5rem;
}

.accordion-button {
  font-size: 2rem !important;
}

.accordion-button:hover {
  background-color: rgb(32, 201, 151);
}

.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: rgb(32, 201, 151) !important;
  border-color: white;
}

/*--------------------------------------------------------------
# News letter
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Kontakta Oss
--------------------------------------------------------------*/

#kontaktaOss {
  min-height: 55vh;
}

.w-5 {
  width: 25px;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 400px;
  width: 450px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 400px;
  width: 450px;
}

@media screen and (max-width: 480px) {
  .mapouter {
    position: relative;
    text-align: right;
    height: 300px !important;
    width: 90vw !important;
  }

  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px !important;
    width: 90vw !important;
  }
}